.filters {
    color: white;
    border-color: white;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    vertical-align: middle;
    position: relative;
}

.locations,
.amenities {
    height: 100%;
    width: 25%;
    color: black;
    float: left;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.filters > .locations {
    border-right: solid 1px #DDDDDD;
}

.amenities {
    margin-left: 10px;
}

.locations h3,
.amenities h3 {
    font-weight: 600;
}

.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    color: black;
}

.locations h3,
.locations h4,
.amenities h3,
.amenities h4 {
    padding: 0;
    margin: 0 0 0 40px;
}

button {
    font-size: 18px;
    display: inline-block;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    margin-right: 30px;
    margin-top: 11px;
    position: absolute;
    left: 80%;
    transform: translateX(-30px);
}

button:hover {
    opacity: 90%;
}

.filters ul {
    padding: 0;
    margin: 0;
}

.popover h2 {
	font-size: 16px;
}
.locations .popover, .amenities .popover {
	display: none;
	position: absolute;
	background-color: #FAFAFA;
	width: 25%;
	top: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}
.amenities .popover {
	left: 25%;
	padding: 12px;
}
.locations:hover .popover, .amenities:hover .popover {
	display: block;
}